.topographic {
    z-index: 3;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    overflow: hidden;//put now
}

.topographic img{
    z-index: 3;
    height: 100vh !important;
    width: 100vw !important;
    object-fit: cover;
    overflow: hidden; //put now
}

.ctn {
    flex-direction: row;
    overflow-x: hidden;
    z-index: 1;


    @media (max-width: 789px) {
        flex-direction: column;
        width: 100%;
        padding: 1rem;
        margin-top: 1rem;
    }

    .texts {
        width: 50vw;
        height: 100%;
        color: #202024;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding-left: 10%;//put now
        z-index: 5;
        
        h1 {
            font-size: 64px;
            z-index: 5;

            @media (max-width: 789px) {
                font-size: 32px;
            }
        }
        
        a {
            font-size: 32px;
            text-decoration: underline;
            z-index: 5;

            @media (max-width: 789px) {
                font-size: 16px;
            }
        }

        @media (max-width: 789px) {
            width: auto;
            height: auto;
            text-align: left;
        }
            
    }

    .newest {
        width: 50vw;
        height: 100%;
        background: #DFDFE3;
        border-bottom-left-radius: 42px;
        z-index: 5;

        @media (max-width: 789px) {
            width: 100%;
            height: 410px;
        }
    }
}